name: Linux Tests

on:
  push:
    branches: main
  pull_request:
    branches: main

concurrency:
  group: linux_tests-${{ github.ref }}
  cancel-in-progress: true

jobs:
  build-and-test-linux:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4
        with:
          submodules: recursive

      - name: Install dependencies
        run: sudo apt-get update && sudo apt-get install -y cmake ninja-build g++

      - name: Configure CMake (Release mode)
        run: cmake -B build -DCMAKE_BUILD_TYPE=Release

      - name: Build the project
        run: cmake --build build --config Release

      - name: Run Tests
        run: |
          cd build
          ctest --output-on-failure -C Release
